Report for {{ inventory_hostname }}:
=> Hostname:                {{ output.ansible_facts.ansible_net_hostname }}
=> Platform:                {{ output.ansible_facts.ansible_net_model }}
=> Software version:        {{ output.ansible_facts.ansible_net_version }}
=> Management IP:           {{ output.ansible_facts.ansible_net_interfaces.Loopback0.ipv4[0].address }}
